<h4>Listado</h4>
<ul class="list-group  ">
  <li *ngFor='let character of characterList;
  let i = index;
  let isFirst = first;
  let isLast = last;
  let isPar = even;
  let isImpar = odd;'
  class="list-group-item d-flex justify-content-between align-items-center"
  [ngClass] = "{
    'list-group-item-dark' : isFirst,
    'list-group-item-primary' : isPar,

  }">

    <div>
      <span class="text-primary"> {{i+1}}. </span>
      {{character.name}} - Power: ({{character.power}})
    </div>

    <button class="btn btn-danger"
    (click)="onDeleteCharacter(i)"
    >X</button>

  </li>
</ul>

<!--
<ul class="list-group  ">
  <li *ngFor='let character of characterList;
  let i = index;
  let isFirst = first;
  let isLast = last;
  let isPar = even;
  let isImpar = odd;'
  class="list-group-item {{ i === 0 ? 'list-group-item-success': ''}}">

    <span class="text-primary"> {{i+1}}. </span>
    {{character.name}} - Power: ({{character.power}})


    <br><span>Es el primero {{ i === 0}}</span>
    <br><span>Es el ultimo {{ i === characterList.length -1}}</span>
    <br><span>Es Par {{ isPar }}</span>
    <br><span>Es ImPar {{ isImpar }}</span>

  </li>
</ul>
-->
